@using System.Collections;
@model Golf.Tournament.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <h1>Golf Tournament</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Clubs.Count()</div>
                        <div>Clubs</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">@Html.ActionLink("Clubs", "Index", "Club", new { }, new { @class = "btn btn-xs btn-default" })</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Players.Count()</div>
                        <div>Players</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">@Html.ActionLink("Players", "Index", "Player", new { }, new { @class = "btn btn-xs btn-default" })</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.Tournaments.Count()</div>
                        <div>Tournaments</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">@Html.ActionLink("Tournaments", "Index", "Tournament", new { @class = "btn btn-xs btn-default" })</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Club Report
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("ClubReport", Model.ClubReports)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>