@model Golf.Tournament.Models.Address

<address>
    <div>@Html.DisplayFor(model => model.Street) @Html.DisplayFor(model => model.HouseNo)</div>
    <div>@Html.DisplayFor(model => model.Country) @Html.DisplayFor(model => model.Zip) @Html.DisplayFor(model => model.City)</div>
</address>

