@model Golf.Tournament.Models.TeeBox
@{
    var showEdit = false;

    if (ViewBag.editEnabled != null)
    {
        showEdit = ViewBag.editEnabled;
    }
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name @Model.Draw(true)</h3> 
    </div>

    <div class="panel-body">

        <div>@Html.DisplayFor(model => model.Distance) m</div>

        <div>CR/SL: @Html.DisplayFor(model => model.CourseRating)/@Html.DisplayFor(model => model.SlopeRating)</div>

        <div>@Model.Holes.Count Holes</div>
    </div>
    @if (showEdit)
    {
        <div class="panel-footer">
            @Html.ActionLink("Edit", "Edit", "Teebox", new { clubId = Model.ClubId, courseId = Model.CourseId, id = Model.Id }, new { @class = "btn btn-xs btn-default" })
            @Html.ActionLink("Delete", "Delete", "Teebox", new { clubId = Model.ClubId, courseId = Model.CourseId, id = Model.Id }, new { @class = "btn btn-xs btn-danger" })
        </div>
    }
</div>
