@using Golf.Tournament.Utility
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iGolfTournament</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navmenu navmenu-default navmenu-fixed-left" role="navigation">
        @Html.ActionLink("iGolfTournament", "Index", "Home", new { area = "" }, new { @class = "navmenu-brand" })

        <ul class="nav navmenu-nav">
            <li>@Html.ActionLink("Clubs", "Index", "Club")</li>
            <li>@Html.ActionLink("Courses", "Index", "Course")</li>
            <li>@Html.ActionLink("Players", "Index", "Player")</li>
            <li>@Html.ActionLink("Tournaments", "Index", "Tournament")</li>
        </ul>

    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - iGolfTournament</p>
        </footer>
    </div>

    @Html.WriteContent("bottom")

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/Site.js"></script>
    @RenderSection("scripts", required: false)



    <script>
        $(function () {
            $('.edit_colorpicker').colorpicker();
            $('.datetimepicker').datetimepicker();

        });
    </script>

    @Html.PageScripts("end")
</body>
</html>
