@model IEnumerable<Hole>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseImage)
        </th>
        <th></th>
    </tr>
    @{ 
        var counter = 0;
    }
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <input type="checkbox" class="imageOver" data-toggle="popover-x" data-target="#@Html.IdFor(model => item.CourseImage)_popover_@counter" data-placement="right" id="@Html.IdFor(model => item.CourseImage)" name="@Html.NameFor(model => item.CourseImage)"  checked="@(!string.IsNullOrWhiteSpace(item.CourseImage) ? "checked" : "")"/>

            <div id="@Html.IdFor(model => item.CourseImage)_popover_@counter" class="popover imageHover popover-primary">
                <div class="arrow"></div>
                <div class="popover-title"><span class="close" data-dismiss="popover-x">&times;</span>@item.Name</div>
                <div class="popover-content">
                    <img src="@item.CourseImage" width="200" />
                </div>
            </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Hole", new { id = item.Id, clubId = item.ClubId }, new { }) |
            @Html.ActionLink("Details", "Details", "Hole", new { id = item.Id, clubId = item.ClubId }, new { }) |
            @Html.ActionLink("Delete", "Delete", "Hole", new { id = item.Id, clubId = item.ClubId }, new { })
        </td>
    </tr>
    counter++;
}

</table>

@using (Html.BeginScripts("end"))
{
    <script>
        $(function () {
            //$(".popOver").popoverX();

            //$(".imageOver").mouseenter(function (event) {

            //    $(event.currentTarget).next().popoverX('show');
            //});
        });
       
    </script>
}