@model HtmlEditorViewModel

@{
    string logId = string.Format("log_{0}", Model.Id);
    string toolbarId = string.Format("toolbar_{0}", Model.Id);
}

<!-- toolbar with suitable buttons and dialogues -->

<div id="@toolbarId" class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group">
        <button data-wysihtml-command="bold">bold</button>
        <button data-wysihtml-command="italic">italic</button>
    </div>
    <div class="btn-group" role="group">
        <button data-wysihtml-command="foreColor" data-wysihtml-command-value="red">red</button>
        <button data-wysihtml-command="foreColor" data-wysihtml-command-value="green">green</button>
        <button data-wysihtml-command="foreColor" data-wysihtml-command-value="blue">blue</button>
    </div>
    <div class="btn-group" role="group">
        <button data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">H1</button>
        <button data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">H2</button>
        <button data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">P</button>
    </div>
</div>

<!-- element to edit -->
<textarea id="@Model.Id" name="@Model.Name" style="width: 100%; height: 100%;" placeholder="Enter your text ..." autofocus>@Model.Text</textarea>

@using (Html.BeginScripts("end"))
{
    <script>
        $(function () {
            var editor = new wysihtml.Editor(document.getElementById('@Model.Id'), {
                toolbar: document.getElementById('@toolbarId')
            });

            //var log = document.getElementById('@logId');


            editor
                .on('load', function () {
                    //log.innerHTML += '<div>load</div>';
                })
                .on('focus', function () {
                    //log.innerHTML += '<div>focus</div>';
                })
                .on('blur', function () {
                    //log.innerHTML += '<div>blur</div>';
                })
                .on('change', function () {
                    //log.innerHTML += '<div>change</div>';

                })
                .on('paste', function () {
                    //log.innerHTML += '<div>paste</div>';
                })
                .on('newword:composer', function () {
                    //log.innerHTML += '<div>newword:composer</div>';
                })
                .on('undo:composer', function () {
                    //log.innerHTML += '<div>undo:composer</div>';
                })
                .on('redo:composer', function () {
                    //log.innerHTML += '<div>redo:composer</div>';
                });
        });
    </script>
}
