@model Golf.Tournament.ViewModels.ScoresheetViewModel

<table class="table scoresheet" style="background-color: @Model.TeeBox.Color">

    <tr>
        <th>Hole</th>
        @foreach (var item in Model.TeeBox.Holes.Front)
        {

            <th>@item.Number</th>
        }
    </tr>
    <tr>
        <th>Par</th>
        @foreach (var item in Model.TeeBox.Holes.Front)
        {

            <td>@item.Par</td>
        }
    </tr>
    <tr>
        <th>Hcp</th>
        @foreach (var item in Model.TeeBox.Holes.Front)
        {

            <td>@item.Hcp</td>
        }
    </tr>
    <tr>
        <th>Distance</th>
        @foreach (var item in Model.TeeBox.Holes.Front)
        {

            <td>@item.Distance</td>
        }
    </tr>
</table>
