@model CourseHoleDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hole</h4>
    <hr />

    @Model.Hole.Name
    <div>
        <img src="@Model.Hole.CourseImage" />
    </div>

    @Model.Hole.Number

    @Model.Hole.Par

    @Model.Hole.Hcp

    @Model.Hole.Distance
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { clubId = Model.Club.Id, id = Model.Hole.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
