@model CourseHoleEditViewModel

@{
    ViewBag.Title = "Edit";
}

@Html.DisplayFor(model => model.Course)

@Html.DisplayFor(model => model.Teebox)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Club.Id)
        @Html.HiddenFor(model => model.Course.Id)
        @Html.HiddenFor(model => model.Teebox.Id)


        @Html.EditorFor(model => model.CourseHoles, new { holes = Model.Holes })

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(Model.Club.Name, "Details", "Club", new { id = Model.Club.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink(Model.Course.Name, "Details", "Course", new { id = Model.Course.Id, clubId = Model.Club.Id }, new { @class = "btn btn-default" })
    @Html.ActionLink(Model.Teebox.Name, "Details", "Teebox", new { id = Model.Teebox.Id, clubId = Model.Club.Id, courseId = Model.Course.Id }, new { @class = "btn btn-default", style = "background-color:" + Model.Teebox.Color + ";" })
    @Html.ActionLink("Holes", "Index", new { }, new { @class = "btn btn-default" })
</div>
