@model CourseHoleListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.ClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Par)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Hcp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Holes.Front)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClubId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Par)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hcp)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id, clubId = item.ClubId, courseId = item.CourseId, teeboxId = item.TeeboxId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id, clubId = item.ClubId, courseId = item.CourseId, teeboxId = item.TeeboxId })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.ClubId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Par)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ViewModel.Hcp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Holes.Back)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClubId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Par)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hcp)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", "CourseHole", new { clubId = Model.Club.Id, courseId = Model.Course.Id, teeboxId = Model.Teebox.Id })
</div>

@using (Html.BeginScripts("end"))
{
    <script>
        $(function () {

            $("#createHoles").click(function (event) {
                event.preventDefault();
                var url = $("#createHoles").attr("href") + "?holeFrontCount=" + $("#createFrontHolesCount").val() + "&holeBackCount=" + $("#createBackHolesCount").val()
                window.location = url;
            });
        });
    </script>
}
