@model HoleDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h1>Delete Hole @Model.Hole.Name</h1>

<h2>@Model.Club.Name</h2>

<hr />
<div>
    @Html.ActionLink(Model.Club.Name, "Details", "Club", new { id = Model.Club.Id }, new { @class = "btn btn-default" })


</div>

<h3>Are you sure you want to delete the Hole?</h3>
<div class="row">
    <div class="col-md-4">
        @Html.DisplayFor(model => model.Hole)

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Cancel", "Index", "Hole", new { clubId = Model.Club.Id }, new { @class = "btn btn-warning" })
            </div>
        }
    </div>
</div>