@model HoleEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h1>Edit Hole @Model.Hole.Name</h1>
<h2>@Model.Club.Name</h2>

<hr />
<div>
    @Html.ActionLink(Model.Club.Name, "Details", "Club", new { id = Model.Club.Id }, new { @class = "btn btn-default" })
</div>

<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        @Html.DisplayFor(model => model.Hole)
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        @using (Html.BeginForm("Edit", "Hole", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Hole.Id)
                @Html.HiddenFor(model => model.Hole.ClubId)
                @Html.EditorFor(model => model.Hole)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "Index", "Hole", new { clubId = Model.Club.Id, id = Model.Hole.Id }, new { @class = "btn btn-warning" })
                        <input type="submit" value="Save" class="btn btn-primary" />

                    </div>
                </div>
            </div>
        }
    </div>
</div>
