@model Golf.Tournament.ViewModels.TeamTournamentDetailsViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.ShowHoles = true;
}

<div class="row">
    <div class="col-md-6">
        <h2>@Html.DisplayFor(model => model.Tournament.Title)</h2>
        <h3>@Html.DisplayFor(model => Model.Tournament.Club.Name)</h3>
        @Html.DisplayFor(model => model.Tournament.Date)
        <hr />

    </div>
    <div class="col-md-6">
        @Html.Panel("Local Rules",
    @<div>
        <p>@Html.Raw(Model.Tournament.Club.LocalRules)</p>
    </div>,
            string.Empty, isCollapsible: true, isCollapsed: true)
    </div>

</div>


<div class="row">
    <div class="col-md-10">
            @Html.Panel(Model.Tournament.Course.Name,
            @<div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.Tournament.Course.TeeBoxes)
                </div>
            </div>
            , string.Empty, panelClass: "panel-default", isCollapsible: true, isCollapsed: true)
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        @Html.Panel("Participants",
            @<div class="row">
                <div class="col-md-12">
                    @Html.Partial("ParticipantTable", new TournamentParticipantListViewModel(Model.Tournament) { EditEnabled = false })
                </div>
            </div>
            , string.Empty, panelClass: "panel-default", isCollapsible: true, isCollapsed: true)
    </div>
</div>



<p>
    @if (!Model.Tournament.HasStarted)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-primary" })
    }
    @if (!Model.Tournament.HasStarted && !Model.Tournament.HasFinished)
    {
        @Html.ActionLink("Start", "Start", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-success" })
    }
    @if (Model.Tournament.HasStarted && !Model.Tournament.HasFinished)
    {
        @Html.ActionLink("Scorecards", "Scorecards", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-primary" })
    }
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-xs btn-default" })
    @Html.ActionLink("Show Participants", "Index", "Participant", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-xs  btn-default" })
    @if (Model.Tournament.TournamentType == Golf.Tournament.Models.TournamentType.Team)
    {
        @Html.ActionLink("Show Teams", "Index", "Team", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-xs  btn-default" })
    }
</p>
