@model Golf.Tournament.ViewModels.TournamentDetailsViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.ShowHoles = true;
}

<div class="row">
    <div class="col-md-4">
        @Html.Panel(Model.Tournament.Club.Name,
        @<div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(model => Model.Tournament.Club)
            </div>
        </div>
            , panelClass: "panel-default", isCollapsible: false)
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        @Html.Panel(Model.Tournament.Course.Name,
        @<div class="row">
            <div class="col-md-12">
                @Html.DisplayFor(model => model.Tournament.Course.TeeBoxes)
            </div>
        </div>
            , panelClass: "panel-default", isCollapsible: true, isCollapsed: true)
    </div>
</div>


<div>
    <h4>Tournament</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tournament.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Date)
        </dd>

    </dl>

    <hr />
</div>
<p>
    @if (!Model.Tournament.HasStarted)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-primary" })
    }
    @if (!Model.Tournament.HasStarted && !Model.Tournament.HasFinished)
    {
        @Html.ActionLink("Start", "Start", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-success" })
    }
    @if (Model.Tournament.HasStarted && !Model.Tournament.HasFinished)
    { 
        @Html.ActionLink("Scorecards", "Scorecards", new { id = Model.Tournament.Id }, new { @class = "btn btn-xs btn-primary" })
    }
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Show Participants", "Index", "Participant", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-default" })
    @if (Model.Tournament.TournamentType == Golf.Tournament.Models.TournamentType.Team)
    {
        @Html.ActionLink("Show Teams", "Index", "Team", new { tournamentId = Model.Tournament.Id }, new { @class = "btn btn-default" })
    }
</p>
