@model Golf.Tournament.Models.ClubDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Club.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>
    </dl>

    @Html.DisplayFor(model => model.Club.Address)

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Club.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <h4>Courses</h4>
    <hr />
    @Html.Partial("CourseListPart", Model.Courses)

</div>

