@model Golf.Tournament.ViewModels.ClubDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    @Html.Panel(Html.DisplayFor(model => model.Club.Name).ToHtmlString(),
    @<div id="map-outer" class="col-sm-12">
        <div id="address" class="col-sm-4">
            @Html.DisplayFor(model => model.Club.Address)
        </div>
        <div class="col-sm-8" style="height: 200px">
            @Html.Partial("Map", new Golf.Tournament.ViewModels.MapViewModel(Model.Club.Address))
        </div>
    </div>,
        Html.ActionLink("Edit", "Edit", new { id = Model.Club.Id }, new { @class = "btn btn-sm btn-default" }).ToHtmlString() + "\n" +
        Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-sm btn-default" }).ToHtmlString()
    )

    @Html.Panel("Local Rules",
    @<div>
        <p>@Html.Raw(Model.Club.LocalRules)</p>
    </div>,
    string.Empty)
    @Html.Panel("Courses", Html.Partial("CourseEditTablePart", Model.Courses), Html.ActionLink("Create New", "Create", "Course", new { clubId = Model.Club.Id }, new { @class = "btn btn-sm btn-default" }))

</div>
