@model Golf.Tournament.ViewModels.TeeboxEditViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-md-4">
        @Html.Panel(Model.Club.Name,
            Html.DisplayFor(model => model.Club.Address),
            ""
        )
    </div>
    <div class="col-md-8">
        @Html.Panel(Model.Course.Name,
            @<div class="row">
                <div class="col-md-12">
                    @Html.DisplayFor(model => model.Course.TeeBoxes)
                </div>
            </div>,
            ""
        )
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-8">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Teebox)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                @Html.DisplayFor(model => model.Teebox.Holes, new { teeName = Model.Teebox.Name })
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class="btn btn-sm btn-default" })
    @Html.ActionLink("Edit Holes", "Index", "CourseHole", new { clubId = Model.Club.Id, courseId = Model.Course.Id, teeboxId = Model.Teebox.Id }, new { @class = "btn btn-sm btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
