@using Golf.Tournament.Utility
@model Golf.Tournament.ViewModels.TournamentParticipantListViewModel

@{
    ViewBag.Title = "View";
}

<h2>@Model.Tournament.Title - Participants</h2>

@Html.DisplayFor(model => model.Tournament)

<p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-primary btn-lg" data-toggle="modal" data-target="#myModal_AddParticipant">
        Register Participant
    </button>
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Teebox")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabelModel.TeaTime)
        </th>
        <th>@Html.DisplayNameFor(model => model.LabelModel.Player.Lastname)</th>
        <th>@Html.DisplayNameFor(model => model.LabelModel.Player.Firstname)</th>
        <th>@Html.DisplayNameFor(model => model.LabelModel.Player.Hcp)</th>
        <th>@Html.Label("Homeclub")</th>
    </tr>

    @foreach (var item in Model.Participants)
            {
        <tr>
            <td>@Html.DisplayFor(model => Model.Teeboxes.FirstOrDefault(m => m.Key == item.TeebBoxId).Value.Name)</td>
            <td>@Html.DisplayFor(model => item.TeaTime)</td>
            <td>@Html.DisplayFor(model => item.Player.Lastname)</td>
            <td>@Html.DisplayFor(model => item.Player.Firstname)</td>
            <td>@Html.DisplayFor(model => item.Player.Hcp)</td>
            <td>@Html.DisplayFor(model => item.Player.HomeClub.Name)</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { tournamentId = Model.Tournament.Id, id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { tournamentId = Model.Tournament.Id, id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { tournamentId = Model.Tournament.Id, id = item.Id })
            </td>
        </tr>
    }

</table>



<p>
    @Html.ActionLink("Back to Tournament", "Details", "Tournament", new { id = Model.Tournament.Id }, new { @class = "btn btn-default" })
</p>
@using (Html.BeginContent("bottom"))
{
<!-- Modal Add Participant -->
<div class="modal fade" id="myModal_AddParticipant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <form method="post" action="@Url.Action("Create", "Participant", new { tournamentId = Model.Tournament.Id })">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add Participant</h4>
                </div>
                <div class="modal-body">

                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Partial("Create", Model.ParticipantCreateViewModel)
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Register Player</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Add Participant -->
}
